.sidebar-main {
    background-color: #D1D1D6;
    width: 200px;
    height: 100%;
    position: absolute;
}

.sidebar-button {
    color: #BA55D3;
    text-align: center;
    font-size: larger;
    border-radius: 10px;
    width: 90%;
    position: relative;
    margin: auto;
    height: 35px;
    vertical-align: middle;
    line-height: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.sidebar-button:hover{
    background-color: #004052;
}

.sidebar-header {
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 22px;
}