.upload-container {
    background-color: #00607A;
    margin-left: 50px;
    margin-top: 25px;

    height: 200px;
    width: 450px;
    position: relative;
    display: inline-block;
}

.upload-container .upload-container-text {
    position: absolute;
    bottom: 0px;
    left: 10px;
}